body {
  background-color: peachpuff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#temp-title {
  margin-top: 2em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  background-color: plum;
  min-height: 20vh;
  max-width: 800px;
  border-radius: 25px;
  padding: 2em;
}

/*---------- Buttons ---------*/

.btn {
  background-color: white;
  color: black;
  padding: 1em 1.5em;
  border: 1px solid black;
}

button:hover {
  cursor: pointer;
  background-color: grey;
}

.psm_on{
  font-weight: 900;
  color: green;
}

.psm_off{
  font-weight: 900;
  color: red;
}

#psm_on_button{
  background-color: green;
}

#psm_off_button{
  background-color: red;
}

#psm_on_button:hover, #psm_off_button:hover{
  cursor: pointer;
  background-color: grey;
}
